In [7]:
import pandas as pd

database = pd.read_parquet('series_500_534.parquet')
database

        Index    Return
0  2013-05-30  0.012469
1  2013-05-31 -0.020338
2  2013-06-03  0.006766
3  2013-06-04 -0.001593
4  2013-06-05 -0.010736
5  2013-06-06  0.010574
6  2013-06-07  0.009162
7  2013-06-10 -0.000649
8  2013-06-11 -0.012559
9  2013-06-12 -0.008578
10 2013-06-13  0.012553
11 2013-06-14 -0.000621
12 2013-06-17  0.007885
13 2013-06-18  0.011237
14 2013-06-19 -0.011157
15 2013-06-20 -0.025461
16 2013-06-21  0.006532
17 2013-06-24 -0.009770
18 2013-06-25  0.007742
19 2013-06-26 -0.000077
20 2013-06-27  0.013133
21 2013-06-28 -0.001270
22 2013-07-01  0.023708
23 2013-07-02  0.005535
24 2013-07-03  0.002833
25 2013-07-05  0.011513
26 2013-07-08  0.005703
27 2013-07-09  0.004076
28 2013-07-10 -0.007292
29 2013-07-11  0.019724
30 2013-07-12  0.000156
31 2013-07-15  0.002287
32 2013-07-16 -0.011389
33 2013-07-17  0.003952
34 2013-07-18  0.012500